/* Виділені основні кольори фону, спільні кольори для фону та тексту, кольори тексту. Використання змінних*/
:root {
    --primary-backgroud-color:#FFFFFF;
    --secondary-backgroud-color: #2F303A;
    --team-background-color: #F5F4FA;
    --hero-background-color: rgba(47, 48, 58, 0.4);

    --accent-color: #2196F3;

    --primary-text-color:#757575;
    --secondary-text-color:#212121;
    --transparent-text-color: rgba(255, 255, 255, 0.6);

    --header-line-color: #ECECEC;
    --portfolio-border-color: #EEEEEE;

    --icon-color: #AFB1B8;
    --bg-footer-icon:rgba(255, 255, 255, 0.1);

    --time-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Забираємо точки в списках і підкреслення ссилок*/
ul {
    list-style: none;
}
a {
    text-decoration: none;
}


/*Загальне для body*/
body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;

    background-color: var(--primary-backgroud-color);
}

/*Забираємо нижній і верхній маржен*/
ul,
p {
    margin-top: 0;
    margin-bottom: 0;
}


/*Оформлення класу контейнер*/
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*Оформлення для header*/
header {
    border-bottom: 1px solid var(--header-line-color);
    background-color: var(--primary-backgroud-color);
}

.header>.container {
    display: flex;
    align-items: center;
}
/*Оформлення логотипу*/
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo.accent,
.logo.l-header { 
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo .accent {
    color: var(--accent-color);
}
/*Добавила маржин до другої частини логотипу, щоб не об єднувати спани*/
.logo .l-header {
    margin-right: 93px;
    color: var(--secondary-text-color);
}

/*Оформлення списку навігації та списку контактів*/
.header.container {
    display: inline-flex;
}
.nav-links, .contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);
}
.nav-pages-list {
    position: relative;
}
.nav-link.current-page {
    color: var(--accent-color);
}
.current-page::after,
.nav-link:hover::after,
.nav-link:focus::after {
    content: "";

    position: absolute;
    left: 0px;
    top: 44px;
    display: inline-block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);

    transition: color var(--time-duration) var(--timing-function);
}

.nav-link {
    color: var(--secondary-text-color);
    transition: color var(--time-duration) var(--timing-function);
}
.nav-link:hover, 
.contact-mail:hover,
.contact-tel:hover,
.nav-link:focus, 
.contact-mail:focus,
.contact-tel:focus {
    color: var(--accent-color);
}
.contact-tel,
.contact-mail {
    display: inline-flex;
    align-items: center;
    color: var(--primary-text-color);

    transition: color var(--time-duration) var(--timing-function);
}
.nav-pages {
    display: flex;
    padding-left: 0;
    margin-right: 305px;
}
.nav-pages>li:not(:last-child) {
    margin-right: 50px;
}
.nav-page-list {
    display: block;
}
.contact {
    display: flex;
    padding-left: 0;
}
.contact>li:not(:last-child) {
    margin-right: 30px;
}
.contact-list {
    display: flex;
    align-items: center;
}
.contact-icon {
    margin-right: 10px;
    fill: currentColor;

    transition: fill var(--time-duration) var(--timing-function);
}
.contact-icon:hover,
.contact-icon:focus {
    fill: var(--accent-color);
}
/* Оформлення унікальної інформації сторінки Студія*/

/*Оформлення секції героя. Секція, в якій можна замовити послугу*/
.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--hero-background-color);
    background-image: linear-gradient(to right,
        var(--hero-background-color),
        var(--hero-background-color)
        ), url(../images/Img-hero.jpg),
        url(../images/ImgOverlay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero {
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--primary-backgroud-color);
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;

    margin-top: 0px;
    margin-bottom: 30px;
}
.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    color: var(--primary-backgroud-color);
    background-color: var(--accent-color);

    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    border-radius: 4px;
    border: 0px;
    
    cursor: pointer;
}

/*Оформлення секції переваг*/
/*.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}*/
.benefits {
    font-size: 14px;
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--primary-backgroud-color);
}
.benefits-hidden {
    margin: 0px;
}
.benefits-list {
    padding-left: 0px;
    display: flex;
}
.benefits-list>li:not(:last-child) {
    margin-right: 30px;
}
.benefits-links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    width: 270px;
    height: 120px;

    background:var(--team-background-color);
    border-radius: 4px;
}
.benefits-icon {
    width: 70px;
    height: 70px;
    fill: var(--secondary-text-color);
}
.benefits-header {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--secondary-text-color);

    margin-top: 0px;
    margin-bottom: 10px;
}
.benefits-text {
    font-weight: 400;
    line-height: 1.71;

    color: var(--primary-text-color);
}
/* Оформлення секції Сфера дільності*/
.sphere {
    padding-bottom: 94px;
    background-color: var(--primary-backgroud-color);
}
.sphere-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    color: var(--secondary-text-color);

    margin-top: 0px;
    margin-bottom: 50px;
}
.sphere-list {
    padding-left: 0px;
    display: flex;
}
.sphere-list>li:not(:last-child) {
    margin-right: 30px;
}
.sphere-item {
    position: relative;
}
.sphere-image {
    width: 370px;
    height: 294px;

    display: block;
}
.sphere-link::after {
    position: absolute;
    left: 0;
    bottom: 0;

    display: inline-block;
    content: "";
    width: 100%;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);
}
.sphere-text {
    position: absolute;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);
    
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    min-width: max-content;
    text-transform: uppercase;

    color: var(--primary-backgroud-color);
}
/*Оформлення секції Команда*/
.team {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94px;
    padding-bottom: 94px;

    color: var(--secondary-text-color);
    background-color: var(--team-background-color);
}
.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    margin-top: 0px;
    margin-bottom: 50px;
}
.team-list {
    padding-left: 0px;
    display: flex;
}
.team-list>li:not(:last-child) {
    margin-right: 30px;
}
.team-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-backgroud-color);
}
.team-image {
    display: block;
    width: 270px;
    margin-bottom: 0px;
}
.team-underimage {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-header-photo {
    font-weight: 500;
    color: var(--secondary-text-color);

    margin-top: 0px;
    margin-bottom: 10px;
}
.team-text {
    margin-bottom: 16px;
    color: var(--primary-text-color);
}
.team-social-links {
    padding-left: 0px;
    display: flex;
    justify-content: center;
}
.team-social-links>li:not(:last-child) {
    margin-right: 10px;
}
.team-social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    background-color: var(--primary-backgroud-color);
    color: var(--icon-color);
    border-radius: 50%;

    transition: color var(--time-duration) var(--timing-function), background-color var(--time-duration) var(--timing-function);
}
.team-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--accent-color);
    color: var(--primary-backgroud-color);
}

/* Оформлення списку постійних клієнтів*/
.clients {
    margin-top: 94px;
    padding-bottom: 94px;
    background-color: var(--primary-backgroud-color);
}
.clients-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    color: var(--secondary-text-color);

    margin-top: 0px;
    margin-bottom: 50px;
}
.clients-list {
    padding-left: 0px;
    display: flex;
}
.clients-list>li:not(:last-child) {
    margin-right: 30px;
}
.clients-links {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 90px;

    color: var(--icon-color);
    background-color: var(--primary-backgroud-color);
    border: 1px solid var(--icon-color);
    box-sizing: border-box;
    border-radius: 4px;

    transition: color var(--time-duration) var(--timing-function), border var(--time-duration) var(--timing-function);
}
.clients-icon {
    fill: currentColor;
}
.clients-links:hover,
.clients-links:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}
/* Оформлення підвалу, переплітається з хедером*/
.footer {
    font-size: 14px;
    line-height: 1.71;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--secondary-backgroud-color);
}
.footer>.container {
    display: flex;
}
.footer.container {
    display: inline-flex;
}
.logo .common-footer {
    color: var(--primary-backgroud-color);
}
address {
    font-style: inherit;
}
.footer-address {
    color: var(--primary-backgroud-color);
    padding: 0px;
    margin-top: 20px;
}
.footer-address-block {
    margin-right: 70px;
}
.footer-address-contact { 
    color: rgba(255, 255, 255, 0.6);
    display: block;
    margin-top: 9px;
}
.footer-join {
    padding-top: 12px;
    padding-bottom: 40px;
    padding-left: 0px;
    margin-right: auto;
}
.join-header {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-top: 0px;
    margin-bottom: 20px;

    color: var(--primary-backgroud-color);
}
.footer-social-links {
    padding-left: 0px;
    display: flex;
    justify-content: center;
}
.footer-social-links>li:not(:last-child) {
    margin-right: 10px;
}
.footer-social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    
    background-color: var(--bg-footer-icon);
    color: var(--primary-backgroud-color);
    border-radius: 50%;

    transition: background-color var(--time-duration) var(--timing-function);
}
.footer-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
}
/*Оформлення другої сторінки Portfolio*/
.main-portfolio {
    background-color: var(--primary-backgroud-color);
}
.portfolio-page {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Оформлення фільтру*/
.portfolio-header {
    margin-top: 0px;
    margin-bottom: 0px;
}
.portfolio-filter {
    padding-left: 0px;
}
button {
    font-family: Roboto;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}
.list-button {
    text-align: center;
    display: flex;
    padding-left: 0px;
    padding-bottom: 50px;
    justify-content: center;
}
.list-button>li:not(:last-child) {
    margin-right: 8px;
}
.list-button-main {
    color: var(--primary-backgroud-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-button-main,
.list-button-secondary {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;

    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;

    transition: color var(--time-duration) var(--timing-function), background-color var(--time-duration) var(--timing-function), box-shadow var(--time-duration) var(--timing-function);
}
.list-button-secondary {
    background: var(--team-background-color);
}
.list-button-secondary:hover,
.list-button-secondary:focus {
    color: var(--primary-backgroud-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-button-secondary, 
.image-header {
    color: var(--secondary-text-color);
}

/*Оформлення списку*/
.image-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
}
.image-list>li:not(:nth-child(3n+3)) {
    margin-right: 30px;
}
.image-item {
    position: relative;

    border: 1px solid var( --portfolio-border-color);
    box-sizing: border-box;
    width: auto;
}
.image-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
.image-link {
    display: block;
    background: var(--primary-backgroud-color);
    overflow: hidden;

    transition: border var(--time-duration) var(--timing-function), box-shadow var(--time-duration) var(--timing-function);
}
.image-link:hover,
.image-link:focus {
    border: 1px solid var(--accent-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.image-action {
    position: relative;
    overflow: hidden;
}
.image-size {
    width: 367px;
    margin-right: 0px;
}
.image-overlay {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 294px;

    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--time-duration) var(--timing-function);
}
.image-link:hover .image-overlay,
.image-link:focus .image-overlay {
    transform: translateY(0);
}
.image-over-text {
    position:absolute;
    top: 63px;
    left: 24px;

    display: flex;
    width: 322px;
    min-height: max-content;
    align-content: center;
    justify-content: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;

    color: var(--primary-backgroud-color);
}

.image-description {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}
.image-header {
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}
.image-text {
    font-size: 16px;
    line-height: 1.88;

    color: var(--primary-text-color);
}
/*Створення модального вікна*/
.backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity var(--time-duration) var(--timing-function);
}
.backdrop.is-hidden {
    /*visibility: hidden;*/
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.75);
}
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 528px;
    height: 581px;

    transform: translate(-50%, -50%) scale(1);

    background: var(--primary-backgroud-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--time-duration) var(--timing-function);
}
/*Оформлення кнопки*/
.close-icon {
    fill: currentColor;
}
.modal-button {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background: var(--primary-backgroud-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: #000;
    border-radius: 50%;
}
